<article class="" style="background:url('/content/dam/advanceassessment/gettyimages-939125660-612x612.jpg') no-repeat; background-size: cover; opacity: 0.5;height: 500px;">
</article>
<article>
    <h2 class="name">${properties.name}</h2>
    <p>
        <h4 class="designation">${properties.designation}</h4>
        <section style="position: relative;">
            <img src="${properties.profilepicture}" class="profileposition"/>
            <section class="address">
                <span>${properties.addressline1},${properties.addressline2}</span><br>
				<span class="city">${properties.city}</span> | <span class="city">${properties.state}</span> | 
 				<span class="city">${properties.country}</span> <br>
                <span>T ${properties.phonenumber}</span> | <span>F ${properties.faxnumber}</span>
            </section>
        </section>
    </p>
</article>